.layout {
    display: flex;
    height: 100vh;
}

.main-content {
    margin-left: 260px;
    width: calc(100% - 260px);
    padding: 24px;
    overflow-y: auto;
    height: 100vh;
}

@media (min-width: 1200px) {
    .main-content {
        margin-left: 20%;
        width: 80%;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .main-content {
        margin-left: 240px;
        width: calc(100% - 240px);
    }
}

@media (max-width: 767px) {
    .main-content {
        margin-left: 0;
        width: 100%;
        padding-top: 80px;
    }
}