.layout {
    display: flex;
    height: 100vh;
}

.main-content {
    margin-left: 260px;
    width: calc(100% - 260px);
    /* padding: 24px; */
    overflow-y: auto;
    height: 100vh;
    background-color: #F3E7D3;
}

@media (min-width: 768px) and (max-width: 1199px) {

    .main-content {
        margin-left: 240px;
        width: calc(100% - 240px);
    }

    .section1-container,
    .section2-container,
    .section3-container {
        min-height: calc(100vh - 60px);
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .main-content {
        margin-left: 20%;
        width: 80%;
    }
}

@media (min-width: 1440px) {
    .main-content {
        margin-left: 18%;
        width: 82%;
    }
}

@media (max-width: 767px) {
    .main-content {
        margin-left: 0;
        width: 100%;
        padding-top: 60px;
    }

}