.custom-date-picker {
    position: relative;
}

.custom-date-picker input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #d6c2a8;
    background-color: #fffaf3;
    cursor: pointer;
    font-size: 16px;
}

/* Popup */
.calendar-popup {
    position: absolute;
    top: 110%;
    left: 0;
    width: fit-content;
    background: #fffaf3;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 100;
}

/* Header */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-header button {
    background: linear-gradient(90deg, #c9a27e, #b6895b);
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.calendar-header span {
    font-weight: 600;
    color: #4b3f2f;
}

/* Grid */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

.calendar-day {
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.calendar-day:hover {
    background: linear-gradient(90deg, #c9a27e, #b6895b);
    color: white;
}